<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg" style="max-height: 80vh; overflow-y: auto;">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="exampleModalLabel">Ajouter des tags</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div
				class="modal-body">
				{# {{ form_row(formView.tags) }} #}
				<div
					class="row">
					{# {% include "partials/_search_form.html.twig" %} #}
					{# {{ form_start(searchForm) }}
					{{ form_widget(searchForm) }}
					{{ form_end(searchForm) }} #}
				</div>
				<div class="js-filter-content">
					{% include "partials/_tags.html.twig" %}
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" id="saveTagsBtn">Enregistrer</button>
			</div>
		</div>
	</div>
</div>
